body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-container {
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 15px;
    width: 20%;
    margin: 173px 284px;

}

.description {
    color: hsl(217, 12%, 63%);
}

.rating > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0px;

}

.list-item {
    padding: 12px 21px;
    width: 50px;
    height: 50px;
    background-color: hsl(220, 20%, 12%);
    margin-bottom: 10px;
    border-radius: 50px;
    color: hsl(217, 12%, 63%);
    text-decoration: none;  
}

.list-item:hover{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.list-item:active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
    
.icon-star {
    border-radius: 50px;
    background-color: hsl(220, 20%, 12%);
    height: 50px;
    width: 50px;   
    padding: 17px;
    margin-bottom: 15px;
}

.submit-btn {
    font-size: 20px;
    width: 100%;
    border-radius: 25px;
    height: 50px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

.submit-btn:active {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.selected {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.th-container { 
    display: none;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 15px;
    width: 20%;
    margin: 173px 284px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* color: hsla(216, 12%, 54%, 0.205); */

.rating-info {
    background-color: hsla(216, 12%, 54%, 0.205);
    font-size: 17px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    margin: 20px 64px;
    width: 64%;
}

.th-title {
    margin: 10px;
}
